* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.carousel-container {
  overflow: hidden;
  position: relative;
  max-width: 640px;
  margin: auto;
  margin-top: 200px;
}
.carousel-image-wrapper {
  background-color: white;
  position: relative;
  display: flex;
}
.carousel-image-wrapper img {
  width: 640px;
  object-fit: cover;
}
.active__button {
  transform: scale(1.3);
}
.inactive__button {
  transform: scale(1);
}
